.btn {
  cursor: pointer;
  position: relative;
  border: 2px solid;
  border-radius: 40px;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:focus-visible {
  outline: black 2px solid;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  .btn:focus-visible {
    outline-color: white;
  }
}

@media (max-width: 339px) {
  .btn {
    font-size: 16px;
    margin: 5px;
    padding: 18px 20px;
  }
}

@media (min-width: 340px) {
  .btn {
    font-size: 16px;
    margin: 10px;
    padding: 18px 20px;
  }
}

@media (min-width: 400px) {
  .btn {
    font-size: 20px;
    margin: 10px;
    padding: 18px 30px;
  }
}

.primary {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .primary {
    background-color: #fff;
    border-color: #fff;
    color: #000;
  }
}

.secondary {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .secondary {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
  }
}
