.wrapper {
  display: block;
  height: 48px;
}

@media (max-width: 399px) {
  .wrapper {
    margin-bottom: 20px;
  }
}

@media (min-width: 400px) {
  .wrapper {
    margin-bottom: 40px;
  }
}

.switcher {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  border: 2px solid #000;
  background-color: transparent;
  padding: 2px;
}

@media (prefers-color-scheme: dark) {
  .switcher {
    border-color: #fff;
  }
}

.switcher-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 20px 10px 20px 10px;
  height: 30px;
  color: #000;
  cursor: pointer;
  transition: color 160ms ease-in;
}

@media (prefers-color-scheme: dark) {
  .switcher-button {
    color: #fff;
  }
}

@media (max-width: 419px) {
  .switcher-button {
    width: 80px;
  }
}

@media (min-width: 420px) {
  .switcher-button {
    width: 100px;
  }
}

.input:checked + .switcher-button {
  cursor: default;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  .input:checked + .switcher-button {
    color: #000;
  }
}

.wrap-switcher-status {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  pointer-events: none;
  border-radius: 30px;
  z-index: -1;
}

.input:focus-visible ~ .wrap-switcher-status {
  outline: 2px solid #000;
  outline-offset: 4px;
}

@media (prefers-color-scheme: dark) {
  .input:focus-visible ~ .wrap-switcher-status {
    outline-color: #fff;
  }
}

.switcher-status {
  display: flex;
  height: 40px;
  border-radius: 30px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-color: #000;
  transition: transform 160ms ease-in;
}

@media (prefers-color-scheme: dark) {
  .switcher-status {
    background-color: #fff;
  }
}

@media (max-width: 419px) {
  .switcher-status {
    width: 80px;
  }
}

@media (min-width: 420px) {
  .switcher-status {
    width: 100px;
  }
}

#focus:checked ~ .wrap-switcher-status > .switcher-status {
  transform: translateX(0);
}

#shortBreak:checked ~ .wrap-switcher-status > .switcher-status {
  transform: translateX(100%);
}

#longBreak:checked ~ .wrap-switcher-status > .switcher-status {
  transform: translateX(200%);
}
