.wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  flex: 1 1 auto;
  flex-direction: column-reverse;
}

@media (max-width: 419px) {
  .wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 420px) {
  .wrapper {
    margin-bottom: 40px;
  }
}

.switcher {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 120px;
}

.switcher-button {
  appearance: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  color: #000;
  cursor: pointer;
  background-size: 18px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: filter color 160ms ease-in;
}

.switcher-button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  .switcher {
    color: #fff;
  }
}

.light {
  background-image: url("../assets/icons/sun.svg");
}

@media (prefers-color-scheme: dark) {
  .light {
    filter: invert(1);
  }
}

.auto {
  background-image: url("../assets/icons/a.svg");
  background-size: 14px;
}

@media (prefers-color-scheme: dark) {
  .auto {
    filter: invert(1);
  }
}

.dark {
  background-image: url("../assets/icons/moon.svg");
}

@media (prefers-color-scheme: dark) {
  .dark {
    filter: invert(1);
  }

  .switcher-button:checked > .dark {
    filter: invert(0);
  }
}

.switcher-button:checked {
  cursor: default;
  color: #fff;
  filter: invert(1);
}

@media (prefers-color-scheme: dark) {
  .switcher-button:checked {
    filter: invert(0);
  }
}

.wrap-switcher-status {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  pointer-events: none;
  border-radius: 40px;
  z-index: -1;
}

input:focus-visible ~ .wrap-switcher-status {
  outline: 2px solid #000;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark) {
  input:focus-visible ~ .wrap-switcher-status {
    outline-color: #fff;
  }
}

.switcher-status {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  transition: transform 160ms ease-in;
}

@media (prefers-color-scheme: dark) {
  .switcher-status {
    background-color: #fff;
  }
}

.light:checked ~ .wrap-switcher-status > .switcher-status {
  transform: translateX(0);
}

.auto:checked ~ .wrap-switcher-status > .switcher-status {
  transform: translateX(100%);
}

.dark:checked ~ .wrap-switcher-status > .switcher-status {
  transform: translateX(200%);
}
