.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.svg {
  width: 300px;
  height: 300px;
}

@media (max-width: 419px) {
  .svg {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 420px) {
  .svg {
    width: 360px;
    height: 360px;
  }
}

@media (min-width: 550px) {
  .svg {
    width: 480px;
    height: 480px;
  }
}

@keyframes circleLoad {
  to {
    stroke-dashoffset: 0;
  }
}

.circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.circle-animation {
  animation-name: circleLoad;
  animation-direction: reverse;
  animation-timing-function: linear;
}

.time {
  text-align: center;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 419px) {
  .time {
    font-size: 80px;
  }
}

@media (min-width: 420px) {
  .time {
    font-size: 96px;
  }
}

@media (min-width: 550px) {
  .time {
    font-size: 128px;
  }
}
