.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #fff;
  z-index: 2;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: var(--background-color);
  }
}

.menu-button {
  background-image: url("../assets/icons/menu.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 54px;
  height: 48px;
  cursor: pointer;
}

.menu-button:focus {
  outline: none;
}

.menu-button:focus-visible {
  outline: 2px solid #000;
  outline-offset: -2px;
}

@media (prefers-color-scheme: dark) {
  .menu-button {
    filter: invert(1);
  }
}
