.header {
  display: flex;
  width: 100%;
  bottom: 0;
}

.menu-button {
  background-image: url("../assets/icons/menu.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 54px;
  height: 48px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .menu-button {
    filter: invert(1);
  }
}
