.menu {
  display: block;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 16px;
  cursor: pointer;
}

.link:hover {
  background-color: #eee;
}

.link-active,
.link-active:hover {
  background-color: #ddd;
  cursor: default;
}

.link-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
  margin: 0;
  width: 22px;
  height: 22px;
}

.link-title {
  padding-left: 24px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
