.menu {
  display: block;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  width: 100%;
  background-color: transparent;
  border: none;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 16px;
  cursor: pointer;
}

.link:hover {
  background-color: #eee;
}

@media (prefers-color-scheme: dark) {
  .link:hover {
    background-color: #383838;
  }
}

.link:disabled,
.link:disabled:hover {
  background-color: #ddd;
  cursor: default;
}

@media (prefers-color-scheme: dark) {
  .link:disabled,
  .link:disabled:hover {
    background-color: #383838;
  }
}

.link-icon {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
  margin: 0;
  width: 22px;
  height: 22px;
}

@media (prefers-color-scheme: dark) {
  .link-icon {
    filter: invert(1);
  }
}

.link-title {
  padding-left: 24px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .link-title {
    color: #fff;
  }
}
